$main-col:#fdfdfd;
$sec-col:rgb(255, 122, 27);
$thi-col:rgb(67, 66, 73);

* {
  box-sizing: border-box;
}
html,body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-family: Raleway,sans-serif;
  color:#202020;
  position: relative;
  background-color: $main-col;
}
body {
  min-height: 100%;
}
h1 {
  font-size: 36px;
  border-bottom: 3px solid $sec-col;
}
p {
  line-height: 1.5;
}

.topbar {
  width: 100%;
  height: 34px;
  background-color: $thi-col;
  display: flex;
  justify-content: center;
  div {
    margin:0 20%;
    padding:7px;
    color: white;
  }
}
.overlay {
  height:100%;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  position: absolute;
  color: white;
}

#moberlay {
  height:100%;
  width: 100%;
  background-color: rgb(34, 34, 34);  
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  display: block;
  opacity:0;
  transition: opacity 0.4s;
}

.sidebar {
  height:100%;
  width: 70%;
  position: fixed;
  background-color: $main-col;
  left:-70%;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: left 0.4s;
  div {
    a {
      color:$sec-col;
      font-size: 24px;
      padding: 10px 30px;
      display: block;
      margin: 20px 0;        
      height:50px;
      overflow: hidden;
      text-align: center;
      text-decoration: none;  
    }
  }  
}
// Snippet
#navbar {  
  background:$main-col;
  height:120px;
  width:100%;
  position: relative;
  z-index: 99;
  box-shadow: 0px 8px 20px #00000077 ;
  ul{
    margin:0 200px;
    padding:0;
    list-style:none;
    position:relative;
    display:flex;
    justify-content: flex-end;
    margin:0 auto;
    height: 120px;
    li{
      height: 120px;
      a{
        padding:55px 20px;
        display:block;
        height: 120px;
        color:rgb(0, 0, 0);
        text-decoration:none;
        font-size: 14px;
        font-weight: 600;
        border-bottom:4px solid #00000000;
        transition:all 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
        &:hover{          
          border-bottom:3px solid $sec-col;
          background-color:#f0f0f0;
          color:$sec-col;
        }
       }      
    }
    .active{
       a{        
         background-color:#dfdfdf;
         border-bottom:3px solid $sec-col;
        }
    }
  }
}
.menu {   
  display:none;
  background-color: rgba(0,0,0,0);
  height:50px;
  width: 50px;
  margin-bottom: -80px;
  position: fixed;
  z-index: 99999;
  right:20px;
  top:20px; 
   
  div {
    width:100%;
    height:10px;
    border-radius: 5px;
    margin:6px 0;
    background-color: $sec-col;
    
  }
}
/*nav, nav ul, nav ul li, nav ul li a {
  transition:height 0.3s;
}*/

section{
  height: 80vh;
  position:relative;
  padding:40px 0;  
  display:block;
  z-index: 0;
  overflow: hidden;
  background-color: $main-col;
}
#home{
  padding:0 !important;
  background:rgb(44, 49, 47); 
  position: relative;   
  background: {
    image: url("construction.jpg");
    size: cover;
    attachment:fixed;
    position: center center; 
  }
  .welcome {
    text-align: center;
    transform: translateY(-250%);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-175%) translateX(-50%);
  }
}

#projects {
  height: auto;
}
h2{
  padding: 0;
  margin: 0;
}
//Snippet end

.is-sticky {  
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100px !important;
  .logo {
    height:100px;
    width:200px;
    transition: none !important;    
  }
  ul {
    height: 100px !important;
    li{
      height: 100px !important;
      a {
        height:100px !important ;
        padding: 45px 20px !important;
      }
    }
  }
}
.logo {
  height:120px;
  width:200px;
  background-image: url("logo.png");
  
  background-position: center center; 
  background-repeat: no-repeat;   
  transition:height 0.3s;   
  border-radius: 30px; 
  background-color: $main-col;
}
.footer-logo {
  height:120px;
  width:200px;
  background: url("logo.png") center center;   
  top:30px;
  margin: 0;  
  left:50px;
  position: absolute; 
  border-radius: 30px; 
  background-color: $main-col;
}
.display {
  width:80%;
  height:80%;
  margin:0 auto;
  background-color: $main-col;
  display: flex;
  flex-wrap: nowrap;
  .image {
    background: {
      position:center center;
      size:cover;      
    }
    height: 100%;
    width:50%;
  }
  .content {
    height: 100%;
    width:50%;
    padding:3vw;
    ul {
      margin: 0 0 0 2vw;
      padding: 0;
      li {
        line-height: 1.5;
      }
    }
  }
}
#testimonial {
  height: auto;
}

/* For testimonial */
.demo{ background: $sec-col; }
.testimonial{
    margin: 50px 30px 30px 30px;
    text-align: center;
    position: relative;
    
}
.testimonial .description{
    padding: 30px;
    margin-bottom: 80px;    
    font-size: 20px;
    color: #fff;
    line-height: 33px;
    position: relative;
}

.testimonial .description:after{
    top: auto;
    bottom: 0;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
    position: relative;
}

.testimonial .title:before{ top: -80px; }
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: $main-col;
    outline: 2px solid $main-col;
    outline-offset: 2px;
    margin-right: 8px;
    opacity: 0.7;
    transition: all 0.3s ease 0s;   
}
.owl-theme .owl-controls .owl-page.active span{
    background: #fff;
    outline: 2px solid #fff;   
}
/* ^^for testimonial^^ */



/* for gallery */
.gallery-container {
  margin: auto;
  border: #fff solid 5px;
  background: $main-col;


  /* mak images fill their container*/
  img {
    max-width: 100%;
  }
  img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

/* CSS Grid*/
.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ^^for gallery^^ */


/* for contacts */
form { max-width:820px; margin:50px auto;background-color: $main-col; }

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid $sec-col;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid $sec-col; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:$sec-col;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;

}
[type="submit"]:hover { background:rgb(255, 144, 65); }


footer {
  display: flex;
  height:300px;
  width: 100%;  
  justify-content: center;
  background-color: $thi-col;  
  div {    
    height:100%;
    width: 300px;
    background-color: $thi-col;
    margin:0 5vw;
    position: relative;
    border-radius: 25px;
  }
}
i {
  position: relative;
  bottom:20%;
}
@media only screen and (max-width:850px) {
  .menu {
    display: block;
  }
  nav ul li:not(:last-child):not(:first-child) {
    display: none;
  }
  .topbar {
    display: none;
  }
}
// @media only screen and (max-width:768px) {
//   section {
//     height: 900px;
//   }
//   .display {    
//     height: 600px;
//   }
// }

//===================== MOB ===================
@media only screen and (max-width:600px) {
  .display {
    justify-content: center;
    flex-direction: column;
    .content {
      width: 90%;
    }
    .image {
      width: 90%;
    }
  }

  nav.navbar {
    display: none;
  }

  #home {
    background-position: 40% center;
  }

  #home .overlay .welcome {
    top:60%;
  }

  footer {
    height: 610px;
    flex-direction: column-reverse;
    div {
      margin:10px auto;
    }
  }  
} 